[package]
name = "savant_rs"
version = "0.1.10"
edition = "2021"
authors = ["Ivan Kudriavtsev <ivan.a.kudryavtsev@gmail.com>"]
description = "Savant rust optimization library"
homepage = "https://github.com/insight-platform/savant-rs"
repository = "https://github.com/insight-platform/savant-rs"
readme = "README.md"
keywords = ["computer-vision", "video-processing"]
categories = ["algorithms", "data-structures", "computer-vision"]
license="Apache-2.0"
rust-version = "1.66"

[lib]
crate-type = ["cdylib", "lib"]

[dependencies]
jmespath = { version = "0.3", features = ["sync"] }
lru = "0.10"
serde_json = "1.0"
serde_yaml = "0.9"
serde = { version = "1.0", features = ["derive"] }
itertools = "0.10"
anyhow = "1.0"
thiserror = "1.0"
geo = "0.24"
rayon = "1.7"
env_logger = "0.10"
rkyv = { version = "0.7", features = ["validation", "archive_le"] }
numpy = {version = "0.18", features = ["nalgebra"]}
pyo3-log = "0.8"
derive_builder = "0.12"
num_cpus = "1.15"
hashbrown = "0.13"
lazy_static = "1.4"
nalgebra = "0.32"
ndarray = "0.15"
num-traits = "0.2"

[dependencies.pyo3]
version = "0.18"

[dev-dependencies]
serial_test = "2.0"

[build-dependencies]
pyo3-build-config = "0.18"

[profile.release]
opt-level = 3

[profile.bench]
opt-level = 3

[package.metadata.maturin]
python-source = "python"

[features]
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]
